@page "/products/edit/{id:int}"
@model CafeteriaKwai.Pages.Products.EditProductModel
@{
}
<link rel="stylesheet" href="~/css/editProduct.css" asp-append-version="true" />
<section>
	<h1>Editando um produto</h1>
	<hr />
	<div id="divSection">
		<form method="post" enctype="multipart/form-data">
			@*<div asp-validation-summary="All"></div>*@
			<div id="forms">
				<div id="informations">
					<div id="generealInformations">
						<div class="divInformations">
							<label class="labelInformation" asp-for="editProduct.Name">Name</label>
							<span class="spanInformation">@Model.editProduct.Name</span>
						</div>
						<div class="divInformations">
							<label class="labelInformation" asp-for="editProduct.ShortDescription">ShortDescription</label>
							<span class="spanInformation">@Model.editProduct.ShortDescription</span>

						</div>
						<div class="divInformations">
							<label class="labelInformation" asp-for="editProduct.Price">Price</label>
							<span class="spanInformation">R$ @Model.editProduct.Price</span>
						</div>
						<div class="divInformations">
							<label class="labelInformation" asp-for="editProduct.Category">Category</label>
							<span class="spanInformation">@Model.editProduct.Category</span>
						</div>
					</div>
					<div id="descriptionImageInformations">
						<div class="divInformations">
							<label class="labelInformation" asp-for="editProduct.Description">Description</label>
							<span asp-for="editProduct.Description" class="descriptionInformation">@Model.editProduct.Description</span>
						</div>
						<div class="divInformations">
							<label class="labelInformation" asp-for="editProduct.ImageFileName">Image File Name</label>
							<span class="spanInformation">@Model.editProduct.ImageFileName</span>
						</div>
						<div class="divInformations">
							<label class="labelInformation" asp-for="editProduct.Upload">Upload</label>
							<img src="~/images/menu/@Model.editProduct.ImageFileName" class="imageInformation" />
						</div>
					</div>
				</div>
				<div id="inputForms">
					<div id="generealForms">
						<div class="mb-3">
							<label class="labelForm" asp-for="editProduct.Name">Name</label>
							<input asp-for="editProduct.Name" class="form-control" />
							<span asp-validation-for="editProduct.Name"></span>
						</div>
						<div class="mb-3">
							<label class="labelForm" asp-for="editProduct.ShortDescription">ShortDescription</label>
							<input asp-for="editProduct.ShortDescription" class="form-control" />
							<span asp-validation-for="editProduct.ShortDescription"></span>
						</div>
						<div class="mb-3">
							<label class="labelForm" asp-for="editProduct.Price">Price</label>
							<input asp-for="editProduct.Price" class="form-control" />
							<span asp-validation-for="editProduct.Price"></span>
						</div>
						<div class="mb-3">
							<label class="labelForm" asp-for="editProduct.Category">Category</label>
							<select asp-for="editProduct.Category" class="form-control">
								<option value="Beverage">Beverage</option>
								<option value="Food">Food</option>
							</select>
						</div>
					</div>
					<div id="descriptionImageForms">
						<div class="mb-3">
							<label class="labelForm" asp-for="editProduct.Description">Description</label>
							<textarea asp-for="editProduct.Description" class="form-control"></textarea>
							<span asp-validation-for="editProduct.Description"></span>
						</div>
						<div class="mb-3">
							<label class="labelForm" asp-for="editProduct.ImageFileName">Image File Name</label>
							<input asp-for="editProduct.ImageFileName" class="form-control" />
							<span asp-validation-for="editProduct.ImageFileName"></span>
						</div>
						<div class="mb-3">
							<label class="labelForm" asp-for="editProduct.Upload">Upload</label>
							<input asp-for="editProduct.Upload" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="buttons">
				<button asp-page-handler="edit" class="btn btn-danger float-end">Delete</button>
				<button asp-page-handler="edit" class="btn btn-success">Edit</button>
			</div>
		</form>
	</div>
</section>
