@page
@model CafeComSeuTioAdmin.Pages.Products.ViewAllProductsModel
@{
}
<link rel="stylesheet" href="~/css/viewAllProducts.css" asp-append-version="true" />
<section>
	<h1>Tabela de produtos</h1>
	<hr />
	<div id="divSection">
		<div id="divTable">
			<table>
				<thead>
					<tr>
						<td id="tdId">Id</td>
						<td>Imagem</td>
						<td>Nome</td>
						<td>Pequena Descrição</td>
						<td>Descrição</td>
						<td>Preço</td>
						<td>Categoria</td>
						<td id="tdEdit">----</td>
					</tr>
				</thead>
				@foreach (var produto in Model.ListaProduto)
				{
					<tr>
						<td>@produto.Id</td>
						<td><img src="~/images/menu/@produto.ImageFileName" /></td>
						<td>@produto.Name</td>
						<td>@produto.ShortDescription</td>
						<td><div class ="columnDescription">@produto.Description</div></td>
						<td>@produto.Price</td>
						<td>@produto.Category</td>
						<td><a asp-page="EditProduct" asp-route-id="@produto.Id"><div class="editColumn">editar</div></a></td>
					</tr>
				}
			</table>
		</div>
	</div>
</section>
