@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<section class="slider">
	<div class="slider-content">
		<input type="radio" name="btn-radio" id="radio1" />
		<input type="radio" name="btn-radio" id="radio2" />
		<input type="radio" name="btn-radio" id="radio3" />

		<div class="slide-box primeiro">
			<img class="img-desktop" src="~/images/banner/bannerCarrossel1.jpg" alt="slide 1" />
			<img class="img-mobile" src="~/images/banner/bannerCarrossel1.jpg" alt="slide 1" />
		</div>
		<div class="slide-box segundo">
			<img class="img-desktop" src="~/images/banner/bannerCarrossel2.webp" alt="slide 2" />
			<img class="img-mobile" src="~/images/banner/bannerCarrossel2.webp" alt="slide 2" />
		</div>
		<div class="slide-box terceiro">
			<img class="img-desktop" src="~/images/banner/bannerCarrossel3.jpg" alt="slide 3" />
			<img class="img-mobile" src="~/images/banner/bannerCarrossel3.jpg" alt="slide 3" />
		</div>

		<div class="nav-auto">
			<div class="auto-btn1"></div>
			<div class="auto-btn2"></div>
			<div class="auto-btn3"></div>
		</div>

		<div class="nav-manual">
			<label for="radio1" class="manual-btn"><img src="~/images/cats/xicaraVazia.png" alt="radio1" /></label>
			<label for="radio2" class="manual-btn"><img src="~/images/cats/xicaraVazia.png" alt="radio2" /></label>
			<label for="radio3" class="manual-btn"><img src="~/images/cats/xicaraVazia.png" alt="radio3" /></label>
		</div>
	</div>
</section>

<section id="Sobre">
	<img src="~/images/cats/gatoNoCafeGif.gif" />
	<div>
		<img src="~/images/logo/logoNomeCafeKwai.png" />
		<p> Um cantinho aconchegante onde o aroma do café recém-passado se mistura com o charme felino. Inspirada no universo dos gatos — independentes, curiosos e carinhosos na medida certa — nossa cafeteria foi criada para ser um refúgio tranquilo no seu dia, como o colo quentinho que um gatinho procura ao entardecer.</p>
	</div>
</section>
<section id="nossoCardapio">
	<div><img src="~/images/interface/patasGatoPDireitaMovimento.gif" /></div>
	<h3>Nosso Cardápio</h3>
	<ul>
		<li>
			<a asp-page="ProductCategory" asp-route-category="Drink">
				<img src="~/images/cats/gatinhoPorCimaDePainel1.png" class="gatoEscondido" />
				<img src="~/images/banner/bannerCardapioBedidas.jpg" class="bannerCardapio" />
				<p>Bebidas</p>
			</a>
		</li>
		<li>
			<a asp-page="ProductCategory" asp-route-category="Dessert">
				<img src="~/images/cats/gatinhoPorCimaDePainel2.png" class="gatoEscondido" />
				<img src="~/images/banner/bannerCardapioSobremesas.jpg" class="bannerCardapio" />
				<p>Sobremesas</p>
			</a>
		</li>
				<li>
			<a asp-page="ProductCategory" asp-route-category="Savory">
				<img src="~/images/cats/gatinhoPorCimaDePainel3.png" class="gatoEscondido" />
				<img src="~/images/banner/bannerCardapioSalgados.jpeg" class="bannerCardapio" />
				<p>Salgados</p>
			</a>
		</li>
		<li>
			<a asp-page="ProductCategory" asp-route-category="Kit">
				<img src="~/images/cats/gatinhoPorCimaDePainel4.png" class="gatoEscondido" />
				<img src="~/images/banner/bannerCardapioKits.jpg" class="bannerCardapio" />
				<p>Kits</p>
			</a>
		</li>
		<li>
			<a asp-page="ProductOthers">
				<img src="~/images/cats/gatinhoPorCimaDePainel5.png" class="gatoEscondido" />
				<img src="~/images/banner/bannerCardapioOutros.jpg" class="bannerCardapio" />
				<p>Outros</p>
			</a>
		</li>
	</ul>
	<div><img src="~/images/interface/patasGatoPEsquerdaMovimento.gif" /></div>
</section>
<section id="nossaPlaylist">
	<h1>Nossa Playlist</h1>
	<div id="playlistEPlayer">
		<div class="playlist-box">
			<h3>Playlist</h3>
			<ul class="playlist">
				<li id="listaMusicaTocando">
					<img class="imagemMusicaPlaylist" src="~/images/cats/pataGatoPreto.png"><span>Beatles - Nirvana</span><img class="gifMusicaPlaylistTocando" src="~/images/iconsAction/ondasAudio.gif" />
				</li>
				<li><img class="imagemMusicaPlaylist" src="~/images/cats/pataGatoPreto.png"><span>Beatles - Nirvana</span></li>
				<li><img class="imagemMusicaPlaylist" src="~/images/cats/pataGatoPreto.png"><span>Beatles - Nirvana</span></li>
				<li><img class="imagemMusicaPlaylist" src="~/images/cats/pataGatoPreto.png"><span>Beatles - Nirvana</span></li>
				<li><img class="imagemMusicaPlaylist" src="~/images/cats/pataGatoPreto.png"><span>Beatles - Nirvana</span></li>
				<li><img class="imagemMusicaPlaylist" src="~/images/cats/pataGatoPreto.png"><span>Beatles - Nirvana</span></li>
				<li><img class="imagemMusicaPlaylist" src="~/images/cats/pataGatoPreto.png"><span>Beatles - Nirvana</span></li>
				<li><img class="imagemMusicaPlaylist" src="~/images/cats/pataGatoPreto.png"><span>Beatles - Nirvana</span></li>
			</ul>
		</div>
		<div class="player-box">
			<div class="player">
				<img class="cover" src="~/images/cats/ab.gif" alt="Cat Lo-Fi" />
				<div class="song-info">Beatles - abcde</div>
				<div class="controls">
					<button><img class="controlesPlayer" src="~/images/iconsAction/previus-button.png"></button>
					<button><img class="controlesPlayerPrincipal" src="~/images/cats/gatoAudioContinuo.gif"></button>
					<button><img class="controlesPlayer" src="~/images/iconsAction/next-button.png"></button>
					<button><img class="controlesPlayer" src="~/images/iconsAction/sound.png"></button>
				</div>
				<input type="range" class="progress-bar" value="30" />
			</div>
		</div>
		<div></div>
	</div>
</section>
<section id="novidades">
	<h2>Novidades</h2>
	<div id="sectionCards">
		@foreach (var product in Model.listaProdutosUltimosLancamentos) {
			<a asp-page="ProductDetailsClient" asp-route-id="@product.Id" class="card">
				<div class="card-inner">
					<div class="card-front">
						<img src="~/images/menu/@product.ImageFileName" alt="Café Bom D+" />
						<h3 class="cardName">@product.Name</h3>
					</div>
					<div class="card-back">
						<h3 class="cardName">@product.Name</h3>
						<p class="cardPrice">Price: R$@product.Price</p>
						<p class="cardShortDescription">@product.ShortDescription</p>
						<p class="cardDescription">@product.Description</p>
					</div>
				</div>
			</a>
		}
	</div>
</section>
<section id="contato">
	<h2>Contato</h2>
	<div id="sectionContato">
		<div id="enviarEmail">
			<div>
				<input type="text" name="name" value="" placeholder="Nome" class="smallInput" />
				<input type="email" name="name" value="" placeholder="E-mail" class="smallInput" />
				<input type="number" name="name" value="" placeholder="Telefone" class="smallInput" />
				<button>Enviar</button>
			</div>
			<div>
				<textarea placeholder="Escreva sua mensagem aqui" class="largeInput"></textarea>
			</div>
		</div>
		<div id="localizacao">
			<span>Rua São Bernardo dos Coitacazes n° 123</span>
			<img src="~/images/others/googleMaps.jpg" />
			<span>Segunda à Sexta - 06hrs - 19hrs</span>
			<span>Sábado, Domingo e Feriados - 10hrs - 17hrs</span>
		</div>
	</div>
</section>
<script src="~/js/carrouselBanner.js" asp-append-version="true"></script>
@* <div class="card"> *@
@*     <div class="card-header"> *@
@*         Request Help *@
@*     </div> *@
@*     <div class="card-body"> *@
@*         <h5 class="card-title">Contact our IT Team</h5> *@
@*         <p class="card-text">Having an issue with the site? Let us know!</p> *@
@*         <a asp-page="help" class="btn btn-success">Request Help</a> *@
@*     </div> *@
@* </div> *@