@page "/ProductCategory/{category}"
@model CafeteriaKwai.Pages.ProductCategoryModel
@{
}
<link rel="stylesheet" href="~/css/productCategory.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/cardProduct.css" asp-append-version="true" />
<section class="topBanner">
	@switch (Model.category)
	{
		case "Drink":
			{
				<img class="gifCategoryBanner" src="~/images/cats/gatoBebida.gif" alt="Gato Bebida" />
				break;
			}
		case "Dessert":
			{
				<img class="gifCategoryBanner" src="~/images/cats/gatoSobremesa.webp" alt="Gato Sobremesa" />
				break;
			}
		case "Savory":
			{
				<img class="gifCategoryBanner" src="~/images/cats/gatoSalgado.gif" alt="Gato Salgado" />
				break;
			}
		case "Kit":
			{
				<img class="gifCategoryBanner" src="~/images/cats/gatoKit.gif" alt="Gato Kit" />
				break;
			}
			default : {
				<img class="gifCategoryBanner" src="~/images/cats/gatoFeitoDePudim.gif" alt="Gato Pudim" />
				break;
			}
	}
	<div class="slider">
		<div class="slider-content">
			<input type="radio" name="btn-radio" id="radio1" />
			<input type="radio" name="btn-radio" id="radio2" />
			<input type="radio" name="btn-radio" id="radio3" />

			<div class="slide-box primeiro">
				<img class="img-desktop" src="~/images/bannerCarrossel1.jpg" alt="slide 1" />
				<img class="img-mobile" src="~/images/bannerCarrossel1.jpg" alt="slide 1" />
			</div>
			<div class="slide-box segundo">
				<img class="img-desktop" src="~/images/cats/gatoOuvindoMusica.gif" alt="slide 2" />
				<img class="img-mobile" src="~/images/cats/gatoOuvindoMusica.gif" alt="slide 2" />
			</div>
			<div class="slide-box terceiro">
				<img class="img-desktop" src="~/images/bannerCarrossel3.jpg" alt="slide 3" />
				<img class="img-mobile" src="~/images/bannerCarrossel3.jpg" alt="slide 3" />
			</div>

			<div class="nav-auto">
				<div class="auto-btn1"></div>
				<div class="auto-btn2"></div>
				<div class="auto-btn3"></div>
			</div>

			<div class="nav-manual">
				<label for="radio1" class="manual-btn"><img src="~/images/cats/xicaraVazia.png" alt="radio1" /></label>
				<label for="radio2" class="manual-btn"><img src="~/images/cats/xicaraVazia.png" alt="radio2" /></label>
				<label for="radio3" class="manual-btn"><img src="~/images/cats/xicaraVazia.png" alt="radio3" /></label>
			</div>
		</div>
	</div>
</section>
<section class="favoriteProductsSection">
	<div class="divPatasGif"><img src="~/images/patasGatoPDireitaMovimentoTransparente.gif" /></div>
	<h3>GATINHOS ADORAM</h3>
	<div class="products">
		<div class="product-card"><img src="~/images/menu/berry-drizzle.png"><p>Red Velvet</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
		<div class="product-card"><img src="~/images/menu/cupcake.png"><p>Chocomousse</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
		<div class="product-card"><img src="~/images/menu/granola.png"><p>Bolo de Nozes</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ 9,00</span><span class="cardVerMais">VER MAIS</span></div></div>
	</div>
</section>

<section class="newProductSection">
	<div class="divPatasGif"><img src="~/images/patasGatoPEsquerdaMovimentoTransparente.gif" /></div>
	<h3>LANÇAMENTO</h3>
	<div class="newProduct">
		@switch (Model.category)
		{
			case "Drink":
				{
					<img class="gifTopo" src="~/images/cats/gatoBatendo1.gif" alt="Alternate Text" />
					break;
				}
			case "Dessert":
				{
					<img class="gifTopo" src="~/images/cats/gatoBatendo2Exemplo.gif" alt="Alternate Text" />
					break;
				}
			case "Savory":
				{
					<img class="gifTopo" src="~/images/cats/gatoBatendo3.gif" alt="Alternate Text" />
					break;
				}
			case "Kit":
				{
					<img class="gifTopo" src="~/images/cats/gatoBatendo4.gif" alt="Alternate Text" />
					break;
				}
			default:
				{
					<img class="gifTopo" src="~/images/cats/gatoBatendo4.gif" alt="Alternate Text" />
					break;
				}
		}
		<img class="imageProduct" src="~/images/menu/@Model.lastProduct.ImageFileName" alt="Alternate Text" />
		<div class="newProductInfo">
			<h4 class="nameProduct">@Model.lastProduct.Name</h4>
			<p class="subtitle">@Model.lastProduct.ShortDescription</p>
			<div class="priceArea">
				<span class="subPrice">R$ @Model.lastProduct.Price</span>
				<span class="price">R$ @Model.priceDiscounted</span>
			</div>
		</div>
	</div>
</section>

<section class="otherProductsSection">
	<div class="divPatasGif"><img src="~/images/patasGatoPDireitaMovimentoTransparente.gif" /></div>
	@switch (Model.category)
	{
		case "Drink":
			{
				<h3>OUTRAS BEBIDAS</h3>
				break;
			}
		case "Dessert":
			{
				<h3>OUTRAS SOBREMESSAS</h3>
				break;
			}
		case "Savory":
			{
				<h3>OUTROS SALGADOS</h3>
				break;
			}
		case "Kit":
			{
				<h3>OUTROS KITS</h3>
				break;
			}
		default:
			{
				<h3>OUTROS</h3>
				break;
			}
	}
	<div class="products">
		@foreach (var product in Model.listaCategoriaProdutos) {
			<a asp-page="ProductDetailsClient" asp-route-id="@product.Id" class="product-card"><img src="~/images/menu/@product.ImageFileName"><p>@product.Name</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ @product.Price</span><span class="cardVerMais">VER MAIS</span></div></a>
		}
	</div>
</section>

<section class="avaliationsSection">
	<div class="divPatasGif"><img src="~/images/patasGatoPEsquerdaMovimentoTransparente.gif" /></div>
	<h3>AVALIE-NOS</h3>
	<div class="contaNaoLogada">
		<img class="gatoBrilhandoAvaliacao" src="~/images/cats/gatoBrilhando.gif" alt="Gato Avaliando" />
		<img src="~/images/IconSemContaLogada.png" alt="Gato Avaliando" />
		<p>CRIE UMA CONTA PARA AVALIAR-NOS</p>
	</div>
</section>
<script src="~/js/carrouselBanner.js" asp-append-version="true"></script>