@page "/ProductOthers/{StringSearch?}"
@model CafeteriaKwai.Pages.ProductOthersModel
@{
}
<link rel="stylesheet" href="~/css/productOthers.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/cardProduct.css" asp-append-version="true" />

<section class="slider">
	<div class="slider-content">
		<input type="radio" name="btn-radio" id="radio1" />
		<input type="radio" name="btn-radio" id="radio2" />
		<input type="radio" name="btn-radio" id="radio3" />

		<div class="slide-box primeiro">
			<img class="img-desktop" src="~/images/banner/bannerCarrossel1.jpg" alt="slide 1" />
			<img class="img-mobile" src="~/images/banner/bannerCarrossel1.jpg" alt="slide 1" />
		</div>
		<div class="slide-box segundo">
			<img class="img-desktop" src="~/images/banner/bannerCarrossel2.webp" alt="slide 2" />
			<img class="img-mobile" src="~/images/banner/bannerCarrossel2.webp" alt="slide 2" />
		</div>
		<div class="slide-box terceiro">
			<img class="img-desktop" src="~/images/banner/bannerCarrossel3.jpg" alt="slide 3" />
			<img class="img-mobile" src="~/images/banner/bannerCarrossel3.jpg" alt="slide 3" />
		</div>

		<div class="nav-auto">
			<div class="auto-btn1"></div>
			<div class="auto-btn2"></div>
			<div class="auto-btn3"></div>
		</div>

		<div class="nav-manual">
			<label for="radio1" class="manual-btn"><img src="~/images/cats/xicaraVazia.png" alt="radio1" /></label>
			<label for="radio2" class="manual-btn"><img src="~/images/cats/xicaraVazia.png" alt="radio2" /></label>
			<label for="radio3" class="manual-btn"><img src="~/images/cats/xicaraVazia.png" alt="radio3" /></label>
		</div>
	</div>
</section>
<div class="catGifs">
	<img src="~/images/cats/gatoDeitadoAmarelo.gif" />
	<img src="~/images/cats/gatoDeitadoBranco.gif" />
	<img src="~/images/cats/gatoDeitadoCinza.gif" />
</div>
<div class="container">
	<form method="post" class="sidebar">
		<h2>FILTROS</h2>

		<section class="sectionCategory">
			<h5>Categorias</h5>
			<div class="displayFlexColunm">
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="categoryChoice1" name="ProductSearchCategory" value="Drink" @(Model.ProductSearchCategory.Equals("Drink") ? "checked" : "") />
					<label for="categoryChoice1">Bebidas</label>
				</div>
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="categoryChoice2" name="ProductSearchCategory" value="Dessert" @(Model.ProductSearchCategory.Equals("Dessert") ? "checked" : "") />
					<label for="categoryChoice2">Sobremesas</label>
				</div>
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="categoryChoice3" name="ProductSearchCategory" value="Savory" @(Model.ProductSearchCategory.Equals("Savory") ? "checked" : "") />
					<label for="categoryChoice3">Salgados</label>
				</div>
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="categoryChoice3" name="ProductSearchCategory" value="Kit" @(Model.ProductSearchCategory.Equals("Kit") ? "checked" : "") />
					<label for="categoryChoice4">Kits</label>
				</div>
			</div>
		</section>
		<hr />
		<section class="sectionSubCategory">
			<h5>Sub-Categorias</h5>
			<div class="displayFlexColunm">
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="subCategoryChoice1" name="ProductSearchSubCategory" value="Cupcake" @(Model.ProductSearchSubCategory.Equals("Cupcake") ? "checked" : "") />
					<label for="subCategoryChoice1">Cupcakes</label>
				</div>
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="subCategoryChoice2" name="ProductSearchSubCategory" value="Forno" @(Model.ProductSearchSubCategory.Equals("Forno") ? "checked" : "") />
					<label for="subCategoryChoice2">De Forno</label>
				</div>
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="subCategoryChoice3" name="ProductSearchSubCategory" value="Fritura" @(Model.ProductSearchSubCategory.Equals("Fritura") ? "checked" : "") />
					<label for="subCategoryChoice3">Frituras</label>
				</div>
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="subCategoryChoice4" name="ProductSearchSubCategory" value="Massa" @(Model.ProductSearchSubCategory.Equals("Massa") ? "checked" : "") />
					<label for="subCategoryChoice4">Massas</label>
				</div>
			</div>
			<span class="verMais">VER MAIS <span class="setaVerMais">V</span></span>
		</section>
		<hr />
		<section class="preco">
			<h5>Faixa de Preço</h5>
			<div class="displayFlexRow">
				<input class="inputPrice" type="number" placeholder="R$ min." name="ProductSearchMinPrice" value="@Model.ProductSearchMinPrice" @(Model.ProductSearchMinPrice.Equals("Forno") ? "checked" : "") />
				<hr />
				<input class="inputPrice" type="number" placeholder="R$ máx." name="ProductSearchMaxPrice" value="@Model.ProductSearchMaxPrice" @(Model.ProductSearchMaxPrice.Equals("Forno") ? "checked" : "") />
			</div>
		</section>
		<hr />
		<section class="sectionAvaliation">
			<h5>Avaliação</h5>
			<div class="displayFlexColunm">
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="avaliationChoice1" name="ProductSearchAvaliation" value="5" @(Model.ProductSearchAvaliation == 5 ? "checked" : "") />
					<label for="avaliationChoice1">★★★★★<span> (0)</span></label>
				</div>
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="avaliationChoice2" name="ProductSearchAvaliation" value="4" @(Model.ProductSearchAvaliation == 4 ? "checked" : "")/>
					<label for="avaliationChoice2">★★★★☆<span> (8)</span></label>
				</div>
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="avaliationChoice3" name="ProductSearchAvaliation" value="3" @(Model.ProductSearchAvaliation == 3 ? "checked" : "") />
					<label for="avaliationChoice3">★★★☆☆<span> (15)</span></label>
				</div>
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="avaliationChoice4" name="ProductSearchAvaliation" value="2" @(Model.ProductSearchAvaliation == 2 ? "checked" : "") />
					<label for="avaliationChoice4">★★☆☆☆<span> (21)</span></label>
				</div>
				<div class="displayFlexRow">
					<input class="sideBarRadio" type="radio" id="avaliationChoice5" name="ProductSearchAvaliation" value="1" @(Model.ProductSearchAvaliation == 1 ? "checked" : "") />
					<label for="avaliationChoice5">★☆☆☆☆<span> (34)</span></label>
				</div>
			</div>
		</section>
		<section class="sectionButtons">
			<button>BUSCAR</button>
			<button asp-page-handler="Clean" class="limpar">LIMPAR SELEÇÃO</button>
		</section>
	</form>

	<div class="content">
		<div class="top-bar">
			<div class="subtop-bar">
				<span>CLASSIFICAR POR</span>
				<button class="selectedButton">Mais Relevante</button>
				<button class="defaultButton">Mais Recente</button>
				<button class="defaultButton">Mais Barato</button>
				<select>
					<option>Crescente</option>
					<option>Decrescente</option>
				</select>
			</div>
		</div>

		<div class="products">
			@if (Model.ListaProdutosPesquisados.Count == 0) {
				<span></span>
				<span class="searchNotFound">"@Model.StringSearch" <br />Nenhum produto encontrado.</span>
			} else {
				@foreach (var product in Model.ListaProdutosPesquisados)
				{
					<a asp-page="ProductDetailsClient" asp-route-id="@product.Id" class="product-card"><img src="~/images/menu/@product.ImageFileName"><p>@product.Name</p><div class="cardPrecoVerMais"><span class="cardPreco">R$ @product.Price</span><span class="cardVerMais">VER MAIS</span></div></a>
				}
			}
		</div>

		@if (Model.ListaProdutosPesquisados.Count != 0)
		{
			<div class="pagination">
				<button class="paginationButton">&lt;</button>
				<span class="dot active"></span>
				<span class="dot"></span>
				<span class="dot"></span>
				<button class="paginationButton">&gt;</button>
			</div>
		}
	</div>
</div>